*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.header-div{
    display: flex;
    padding: 8px 50px;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid black; */
    border-bottom: 2px solid gray;
}
.header_icons{
    display: flex;
    align-items: center;
    gap: 30px;
}
.header_logo{
    display: flex;
    align-items: center;
    gap: 5px;
    /* justify-content: center; */
}
.header_logo span{
    font-size: 1rem;
    color: gray;

}
.header_search_bar{
    display: flex;
    align-items: center;
    width: 700px;
    background-color: whitesmoke;
    padding: 12px;
    border-radius: 10px;
}
.header_search_bar input{
    background-color: transparent;
    border: none;
    flex: 1;
    outline: 0;
}
