*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: yellow; */
}
.home_header_div{
    padding: 10px 10px;
    width: 100%;
    display: block;
    /* border: 2px solid black; */
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
    gap: 850px;
    justify-content: space-between;
}